body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family:serif, sans-serif;
}

.card {
    background-color: rgb(226, 226, 226);
    box-shadow: 0 0.7rem 1rem rgb(64, 64, 64);
    border-radius: 1rem;
    text-align: center;
    margin-top: 7rem;
    width: 21rem;
    height: 33rem;
}

.card .qrcard img {
    width: 18rem;
    height: 20rem;
    border-radius: 1rem;
    text-align: center;
    margin-top: 1.5rem;
}

 h2 {
    color: rgb(63, 61, 61);
    font-size: 22px;
    margin: 18px;
}

 p {
    color: #676565;
    font-size: 18px;
    margin: 10px
}